<!doctype html>
<html lang="en" ng-app="carmenApp">

<head>
    <title>¿Dónde está Carmen Sandiego?</title>
        
    <!-- ANGULAR -->
    <script src="src/lib/angular.js"></script>
    <!-- JQUERY -->
    <script src="src/lib/jquery-1.11.1.min.js"></script>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <!-- Controller de la app -->
    <script src="src/js/controllers.js"></script>
    <!-- .css propio -->
    <link rel="stylesheet" href="src/css/app.css" />
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>
               ¿Qué hacemos ahora, detective?
            </h1>
        </div>
        <p class="paisActualPanel">Estás en <span class="paisActual" data-ng-controller="PaisesCtrl">{{paisActual.nombre}}</span></p>
        <div class="row">
            <div class="col-md-2"  data-ng-controller="PaisesCtrl">
                <table class="table table-hover">
                    <thead>
                        <tr><th>Visitados</th></tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pais in paisesVisitados">
                            <td>{{pais.nombre}}</td>
                       </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr><th>Fallidos</th></tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pais in paisesFallidos">
                            <td>{{pais.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">  <!-- verificar si data-ng-controller="PaisesCtrl" es necesario -->
                <p>Lugares</p> <!-- sacar? -->
       <!--         <br/>
                <button type="button" class="btn btn-default botonLugar">
                    <span class="glyphicon glyphicon-home"/>
                    <br/>
                    Banco
                </button>
                <button type="button" class="btn btn-default botonLugar">
                    <span class="glyphicon glyphicon-tower"/>
                    <br/>
                    Club
                </button>
                <button type="button" class="btn btn-default botonLugar">
                    <span class="glyphicon glyphicon-flag"/>
                    <br/>
                    Embajada
                </button>
                <button type="button" class="btn btn-default botonLugar">
                    <span class="glyphicon glyphicon-book"/>
                    <br/>
                    Biblioteca
                </button>
                <br/> -->
                <button ng-repeat="lugar in paisActual.lugares" type="button" class="btn btn-default" data-ng-controller="PaisesCtrl">
                    <span onload="elegirIcono({{lugar.nombre}})"></span>
                    <br/>
                    {{lugar.nombre}}
                </button>
                <br/>
                <div class="well oculto">
                    <span id="pistaSpan">Acá iría la pista</span>
                </div> 
            </div>
            <div class="col-md-3" data-ng-controller="VillanosCtrl">
                <p><b>Orden de arresto</b></p> <!-- sacar <b> -->
                <br/>
                Emitida <!-- tick o cruz -->
                <br/>
                <span id="panelVillanoOrden" class="">contra &nbsp; <span class="glyphicon glyphicon-user"/><span id="villanoOrden"></span></span>
                <br/>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Elegir villano <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="villanoOrden" data-ng-repeat="villano in villanos">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{villano.nombre}}</a></li>
                  </ul>
                <button type="button" class="btn btn-primary">Emitir orden</button>
                </div>
                
                
                
                <br/>
                <div class="well well-lg" data-ng-repeat="villano in villanos">
                    <span class="glyphicon glyphicon-user"/> {{villano.nombre}}
                    <br/>
                </div>
            </div>
        </div>  
    </div>
</body>
</html>