<!doctype html>
<html lang="en" ng-app="carmenApp">
<!-- TODO:
	BAJAR TODOS LOS .JS Y CSS A ARCHIVOS LOCALE
DONE!
  -->

<head>
<meta charset="utf-8">
<title>¿Dónde está Carmen Sandiego?</title>
<link rel="stylesheet" href="css/app.css" />


<!-- JQUERY -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- BOOTSTRAP -->
<link rel="stylesheet" 
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" 
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- ANGULAR  -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-animate.js"></script>

    
    
<!--
<!-- JQUERY 
<script src="src/lib/jquery-1.11.1.min.js"></script>

<!-- BOOTSTRAP 
<link rel="stylesheet" 
    href="src/lib/bootstrap-combined.min.css"> <!-- esta bien asi?
<script
	src="src/lib/bootstrap.min.js"></script>

<!-- ANGULAR  
<script
	src="src/lib/angular.min.js"></script>
<script
	src="src/lib/angular-animate.js"></script>
-->
    
</head>

<body ng-controller="VillanosCtrl PaisesCtrl">
    <div class="container">
        <div class="page-header">
            <h1>
				<!-- ¿Qué hacemos ahora, detective? -->
			</h1>
            <input ng-model="a"/>                <!-- probar y borrar -->
            <p> {{a}} </p>
		</div>
        
        <div class="row show-grid">
            <div class="col-md-2">
                <p>Estás en <span class="paisActual">{{paisActual.nombre}}</span></p>
                <table class="table table-striped table-hover tablaColumna">
                    <thead>
                        <tr><th>Visitados</th></tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pais in paisesVisitados">
                            <td>{{pais.nombre}}</td>
                       </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover tablaColumna">
                    <thead>
                        <tr><th>Fallidos</th></tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pais in paisesFallidos">
                            <td>{{pais.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="col-md-7">
                <span style="text-align: center;">Lugares</span>
                <br/>
              <!-- ********************** MODIFICAR ********************* -->
                <button type="submit" class="btn" ng-click="pistaLugar()"><i class="icon-search"></i></button>
                <button type="submit" class="btn" ng-click="pistaLugar()"><i class="icon-search"></i></button>
                <button type="submit" class="btn" ng-click="pistaLugar()"><i class="icon-search"></i></button>
                <br/>
                <div class="well well-lg">
                    Acá iría la pista
                </div>    
            </div>
            <div class="col-md-3">
                <span style="text-align: center;">Orden de arresto</span>
                <br/>
                Emitida <i class="icon-search"></i> <!-- tick o cruz -->
                <br/>
                <br/>
                <div class="well well-lg" data-ng-repeat="villano in villanos">
                    <i class="icon-search"></i> {{villano.nombre}} <!-- silueta de persona -->
                    <button type="submit" title="Emitir orden" class="btn" ng-click="pistaLugar()"></button>
                </div>
            </div>
        </div>

			
			<!--<form class="form-search">
				<div class="input-append">
				<input ng-model="textoBusqueda" type="text" class="span2 search-query" placeholder="Nombre o Apellido">
				    <button type="submit" class="btn" ng-click="buscar()"><i class="icon-search"></i></button>
			</form>-->
    </div>

	<!-- nuestro jscript -->
	<script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

</body>
</html>

