<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carmenandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/paisPage"
        android:theme="@style/AppTheme" >
        
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".PantallaIncialActivity"
            android:label="@string/title_activity_pantalla_incial" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
        <activity
            android:name=".ViajarActivity"
            android:label="@string/paisPage"
            android:theme="@android:style/Theme.Dialog" >
                   </activity>
        <activity
            android:name=".PedirPistaActivity"
            android:label="@string/title_activity_pedir_pista"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".OrdenActivity"
            android:label="@string/title_activity_orden"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
