body {
    /*background-image: url("../lib/fondo.jpg");
    background-position: top;*/
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.paisActualPanel{
    font-family: "Tahoma";
    font-size: 25px;
}
p{
    text-align: center;
}
.paisActual {
    font-style: italic;
    font-weight: bold;
}
/*#tablasPaises {
    width: 30px;
    
} */
.botonLugar {
    width: 100px;
}
.oculto {
    display: none;
}
