.bodyMapamundi {
  background-image: url("../img/mundo-noite.jpg");
 }
  body {
  background-image: url("../img/vintage-bar.jpg");
 } 
 .bodyExpediente {
  background-image: url("../img/bar_scene-wide.jpg");
 } 
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: #C6000A; 
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black;
	 }
h2{
	text-align: center;
    font-weight: bold;
    font-size: 50px;
	color: #EB9900;
	text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black;

}
caption { 
  background-color: #FFFFFF; 
  text-align: right; 
}
  .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #282828;
}
.acomodar{
	 margin:100px px 0px;
}
 .btn-lg
 {
  padding: 15px 10px;
  font-size: 18px;
  line-height: 2ex;
  border-radius: 6px;
  text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black
} 
.selector{
	text-align: center;  margin: 0px 30px 0px;
}
.centrar{
    text-align: center;
}
/*.alinearIzq{
	text-align: left;
}*/
.alinearDer{
	text-align: right;
}
.alinearAIzq{
    text-align: right;
}
.alinearIzq{
        margin-left: auto;
        margin-right: auto;
}
.table-hover{
	border: 1px solid #666;
	background-color: #999;
	color: black;
	padding: 0.4em;
	width: 300px;
}
.tablatrola{
		position: absolute;
  	top: 50%;
  	left: 38%;
}
.th {
    background-color: black;
    color: white;
}
.exceptions{
	color: red;
	text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black
}
.labels{
	color:white
}

.posicionarBoton{
	position: absolute;
  	top: 20%;
  	left: 50%;
}