body {
  background-image: url("../img/mundo-noite.jpg");
 	}
  .bodyInicial {
  background-image: url("../img/vitage-bar.jpg");
  
 	} 
 .bodyExpediente {
  background-image: url("../img/bar_scene-wide.jpg");
 } 
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
     color: #d31515; 
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black;
	 }
h2{
	text-align: center;
   font-family: inherit, sans-serif;
    font-size:  50px;
	color: #FBEFEF;
	 text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black
}
caption { 
  background-color: #FFFFFF; 
  text-align: right; 
}
  .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #282828;
}
.well{
	background-color: rgba(245, 245, 245, 0.5);
	width: 500px;
}
.tituloColumna{
    text-align: center;
    font-weight: bold;
}
 .btn-lg
 {
  padding: 15px 10px;
  font-size: 18px;
  line-height: 2ex;
  border-radius: 6px;
  text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black

} 
.centrar{
    text-align: center;
}
.alinearAIzq{
    text-align: right;
}
.alinearIzq{
	margin-left: auto;
	margin-right: auto;
	width: 10em
}
.glyphicon-remove-circle{
	font-size: 15px;
	color: #FFFFFF;
	text-align:right;
}

/* .table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid green;
	font-size:20px;
	text-align: left;
	color: #B40404;
	width: 600px;
} */

.table-hover{
	border: 1px solid #666;
	background-color: #999;
	color: black;
	padding: 0.4em;
	width: 100%;
	 
	
}
.th {
    background-color: black;
    color: white;
}