body {
  background-image: url("../mundo-noite.jpg");
 	}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
     color: #d31515;
}
h2{
	text-align: center;
	color: #FBEFEF;
}
  .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #282828;
}
.well{
	background-color: rgba(245, 245, 245, 0.5);
}
.centrar{
    text-align: center;
}
.glyphicon-remove-circle{
	font-size: 15px;
	color: #FFFFFF;
	text-align:right;
}
.table {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
text-align: left;
color: #FBEFEF;
width: 600px;

}